@charset "UTF-8";


.flBtn {
  position: fixed;
  z-index: 1000;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  text-decoration: none;
}
.flBtn ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  text-decoration: none;  
  position: absolute;
  visibility: hidden;
}

.flBtn input {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.flBtn input:checked ~ ul {
  visibility: visible;
}
.flBtn input:checked ~ ul li {
  visibility: visible;
  opacity: 1;
}

.flBtn input:hover + a {
   background: #FAFAFA;
    color: #2E2E2E;
    border-radius: 10px;
}
.flBtn input:hover + a[tooltip]:before {
  visibility: visible;
  opacity: 1;
}

.flBtn a, .flBtn button{
  position: relative;
  z-index: 2;
  display: block;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  background: #FAFAFA;
    color: #2E2E2E;
  transition: background 0.5s;
  -o-transition: background 0.5s;
  -ms-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -webkit-transition: background 0.5s;
}
.flBtn a:hover {
   background: #FAFAFA;
    color: #2E2E2E;
}
.flBtn ul li {
  margin: 5px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.flBtn [tooltip]:before {
  position: absolute;
  content: attr(tooltip);
  visibility: hidden;
  opacity: 0;
  padding: 0 10px;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  transition: all 0.5s;
}

.flBtn [tooltip]:hover:before {
  visibility: visible;
  opacity: 1;
}

.flBtn-size-medium a, .flBtn-size-medium button {
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 10px;
  font-size: 24px;
}
.flBtn-size-medium ul a, .flBtn-size-medium button {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
}
.flBtn-size-medium [tooltip]:before {
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  border-radius: 10px;
}

.flBtn-position-br {
	bottom: 15px;
	right: 15px;
}

.flBtn-position-br [tooltip][data-role]:before {
  right: 100%;
  bottom: 100%;
}
.flBtn-position-br .flBtn-first {
  right: 50%;
  transform: translateX(50%);
  bottom: 100%;
}
.flBtn-position-br .flBtn-first [tooltip]:before {
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 5px;
}
.flBtn-position-br .flBtn-second {
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  right: 110%;
}
.flBtn-position-br .flBtn-second [tooltip]:before {
  right: -20%;
  bottom: 100%;
  margin-bottom: 5px;
}
